@font-face {
  font-family: 'Jost';
  src: url('../fonts/jost-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  background-image: url('../images/GameController.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Jost', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: transparent;
  color: #e0e0e0;
}

.navbar .logo {
  font-weight: 300;
  font-size: 40px;
}

.navbar-buttons {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
}

.navbar-buttons li {
  cursor: pointer;
  font-weight: 200;
  transition: color 0.3s ease;
}

.navbar-buttons li:hover {
  color: #a0a0a0;
}

.navbar .search {
  cursor: pointer;
  font-weight: 200;
  font-size: 18px;
}

.header-container {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
}

.header {
    font-size: 50px;
    font-weight: 400;
    color: white;
    line-height: 1.3;
}

.sub-header {
    font-size: 16px;
    font-weight: 200;
    color: lightgrey;
}